body {
  cursor: url('https://minjialswl.github.io/alswl/main/cur/cur1.png'), auto;
  font-family: dotum, sans-serif;
  font-weight: 400;
  color: #000;
  margin: 20px;
  margin-top: 30px;
}

.top-left {
  font-size: 14px;
  top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  position: relative;
  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-left: 15px;
  top: 10px;
  position: relative;
  z-index: 10;
}

.menu a {
  text-decoration: line-through;
  color: #000;
  cursor: pointer;
}

.menu a:hover {
  text-decoration: none;
}

.top-left,
.menu a {
  text-shadow:
    0 0 2px rgba(0,0,0,0.2),
    0 0 4px rgba(0,0,0,0.2),
    0 0 6px rgba(0,0,0,0.2);
}

.works-list {
  max-height: 0;
  overflow: hidden;
  margin-left: 15px;
  transition: max-height 5s ease;
}

.works-list.show {
  max-height: 500px;
}

.content-wrapper {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 10;
}

#first-screen-img {
  position: fixed;
  top: 70%;
  left: 60%;
  width: 30%;
  transform: translateY(-50%);
  z-index: -1;
}

.bio {
  position: fixed;
  bottom: 40px;
  left: 40px;
  font-size: 14px;
  z-index: 10;
}

.email {
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 14px;
  z-index: 10;
}

.video-wrapper {
  position: relative;
  width: 80%;
  padding-top: 56.25%;
  margin-bottom: 20px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#work-display {
  margin-top: 20px;
  margin-bottom: 150px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.work-img-item {
  width: 80%;
  margin: 0 auto 20px auto;
  display: block;
  min-height: 300px;
}

#work-caption {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  font-size: 12px;
  display: none;
}

* {
  cursor: url('https://minjialswl.github.io/alswl/main/cur/cur1.png'), auto !important;
}
